.font {
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
}
/* .todos { */
/* border: 2px solid aqua; */
/* border-radius: 50%; */
/* } */
/* .collection-item {
  border-radius: 25px;
  /* vertical-align: middle; */
/* }
.collection {
  /* border: none; */

.align {
  vertical-align: middle;
  margin-top: 3px;
}
.btnd {
  font-size: 12px;
  border: none;
  border-radius: 2px;
  padding: 5px 8px;
  margin-right: 10px;
}
